.content {
  width: 50%;
  display: table;
  margin: 0 auto;
  font-size: 18px !important;
}

.table {
  width: 50%;
  display: table;
  margin: 0 auto;
}

.region {
  width: 300px !important;
  height: 200px !important;
  font-size: 40px !important;
}

.selected-tag {
  border: 1px solid !important;
  margin: 5px;
  width: 200px !important;

}

.tags {
  width: 50%;
  margin-left: 25%;
}

.text {
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 20px !important;
}

.document-header {
  position: fixed;
}

.document-body {
  margin-top: 64px;
}

.home-wrapper img {
    max-width: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}


.title {
  font-size: 24px !important;
}

.home-wrapper-text h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.home-wrapper-text {
    position: absolute;
    left: 15%;
    bottom: 10%;
}

.navigation-bar {
  margin-top: 24px;
  position: fixed;
  float: left;
}

.navigation-bar a {
  margin-top: 5px;
  margin-bottom: 5px; 
}

.navigation-bar-item {
  padding: 5px; 
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  color: white;
  font-size: 20px;
}