{% extends "base.html" %}
{% block content %}

<div class="home-wrapper">
  <img src="static/assets/bg.jpg"/>
  <div class="home-wrapper-text">
	  <h1>Mapping the spread of<br><span class="highlight">Tibetan culture</span><br>around the world.</h1>
	  <a href="{{ url_for('explore') }}">
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored text">
	  	Explore the maps
	  	</button>
  	  </a>
  	  <a href="{{ url_for('about') }}">
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored text">
	  	Learn More About the Project
	  	</button>
	  </a>
  </div>
</div>

{% endblock %}
